:root {
    --border-standard: 1px silver solid;
}

.meals__table {
    border: var(--border-standard);
    border-collapse: collapse;
}
.meals__table tr td, .meals__table tr th {
    padding: 5px;
    border: var(--border-standard);
}

.meals__table tr.exceed {
    color: red;
}

.meals__table tr.nonExceed {
    color: green;
}

.meals__table + * {
    margin-top: 20px;
}






/*
edit form is initially not displayed
 */
.meals__form {
    display: none;

    padding: 5px;
    border: var(--border-standard);
}

.meals__form-actions {
    padding-top: 10px;
}
.meals__form-actions * + * {
    margin-left: 20px;
}

.meals__form-label {
    display: none;
}